<!DOCTYPE html>
<html>
    
  
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<head>
    <title>Inserir Assay</title>
    
</head>
<body>
{% block content %}
    <a href="{% url 'design_search' %}" class="btn btn-secondary mt-4">Voltar</a>
    <h1>Inserir Assay e Dados Relacionados</h1>

  <form method="post">
    {% csrf_token %}

    <h3>Protocol</h3>
    {{ protocol_form.as_p }}

    <h3>Design</h3>
    {{ design_form.as_p }}

    <h3>Dados CSV</h3>
    {{ bulk_data_form.as_p }}

    <button type="submit">Salvar</button>
  </form>

    {% if error %}
        <div class="alert alert-danger">
            {{ error|linebreaksbr }}
        </div>
    {% endif %}

{% endblock %}

</body>
</html>